<link rel="stylesheet" href="/form.css" />
<body>
  <h1>Add Company</h1>
  <div class="container">
    <form action="/companies" method="POST">
      <label for="name">Company Name</label>
      <input type="text" id="name" name="name" placeholder="Company name..." />

      <label for="logoUrl">Logo URL</label>
      <input type="url" id="logoUrl" name="logoUrl" placeholder="Logo URL..." />

      <input type="submit" value="Submit" />
    </form>
  </div>
</body>