<html>
  <head>
    <meta charset="utf-8" />
    <title>Restaurant API</title>
    <style>
      table, th, td { border: 1px solid black; text-align: center;}
    </style>
  </head>
  <body>

    {{{body}}}

  </body>
</html>